body {
  background-color: #0a192f; /* Azul oscuro profundo */
}

.cursor-light {
  position: absolute;
  pointer-events: none;
  width: 780px; /* 30% más grande que 600px */
  height: 780px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background: radial-gradient(
    circle,
    rgba(30, 58, 138, 0.1) 15%,
    /* Azul con 10% de opacidad */ rgba(30, 58, 138, 0.05) 40%,
    /* Suaviza la transición */ rgba(30, 58, 138, 0) 85%
      /* Se desvanece gradualmente */
  );
  mix-blend-mode: screen; /* Mantiene el efecto de luz */
  transition: transform 0.1s ease-out;
}

.certificates-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente */
  text-align: center; /* Asegura que el título esté centrado */
  gap: 20px; /* Espaciado entre elementos */
}
